<div class="overlay">
    <div class="modal-basket modal" data-modal="3">
        <button class="close-btn js-modal-close" type="button">
            <svg class="close-icon">
                <use href="./img/svg/close-btn.svg"></use>
            </svg>
        </button>
        <h1 class="modal-title">basket</h1>
        <img 
            class="basket"
            srcset=""
            src=""
            alt="empty basket" 
        />
        <a class="" href="#organic fruits">Add fruits</a>
        <p class="modal-info">Your basket is empty. Press the button to add items</p>
    </div>
</div>