<section id="contacs">
  <div class="container container-contacs">
    <h3 class="primary-text-contacs">FRESH HARVEST BOX HAS GOT YOU COVERED</h3>
    
    <ul class="list-img-contacs">
      <li class="item">
        <picture>
          <source media="(min-width:1280px)" 
          srcset="" 
          type="image/jpg" />
          <source media="(min-width:768px)" 
          srcset="" 
          type="image/jpg" />
          <source media="(max-width:767)" 
          srcset="" 
          type="image/jpg" />
          <img src="" alt="Melon" />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source media="(min-width:1280px)" 
          srcset="" 
          type="image/jpg" />
          <source media="(min-width:768px)" 
          srcset="" 
          type="image/jpg" />
          <source media="(max-width:767)" 
          srcset="" 
          type="image/jpg" />
          <img src="" alt="blueberry" />
        </picture>
      </li>
    </ul>

    <div class="form-field">
      <p class="text-contacs">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form>
        <label>
          <input type="email" name="" placeholder="Enter email..." />
          <button type="submit">Send</button>
        </label>
      </form>
    </div>
  </div>
</section>
