<section id="contacs" class="contacs">
  <div class="container container-contacs">
    <h3 class="primary-text-contacs">FRESH HARVEST BOX HAS GOT YOU COVERED</h3>
    
    <ul class="list-img-contacs">
      
      <li class="item">
        <picture>
          <source media="(min-width:1280px)" 
          srcset="../img/img-contacs/meloun_desk@1x.png 1x, ../img/img-contacs/meloun_desk@2x.png 2x " 
          type="image/jpg" />
          <source media="(min-width:768px)" 
          srcset="../img/img-contacs/meloun_tab@1x.png 1x, ../img/img-contacs/meloun_tab@2x.png 2x" 
          type="image/jpg" />
          <source media="(max-width:767px)" 
          srcset="../img/img-contacs/meloun_mob@1x.png 1x, ../img/img-contacs/meloun_mob@2x.png 2x" 
          type="image/jpg" />
          <img src="../img/img-contacs/meloun_mob@1x.png" alt="Melon"  />
        </picture>
      </li>

      <li class="item">
        <picture>
          <source media="(min-width:1280px)" 
          srcset="./img/img-contacs/blueberry_desk@1x.png 1x, ./img/img-contacs/blueberry_desk@2x.png 2x" 
          type="image/jpg" />
          <source media="(min-width:768px)" 
          srcset="./img/img-contacs/blueberry_tab@1x.png 1x, ./img/img-contacs/blueberry_tab@2x.png 2x" 
          type="image/jpg" />
          <img src="./img/img-contacs/blueberry_desk@1x.png" alt="blueberry" />
        </picture>
      </li>
    </ul>

    <div class="form-field">
      <p class="text-contacs">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="form-contacs">
        <label>
          <input type="email" name="" class="sub-input" placeholder="Enter email..." />
          <button type="submit" class="btn-sub">Send</button>
        </label>
      </form>
    </div>
  </div>
</section>