<div class="fruits section">
  <div class="container fruits">
    <div class="fruits-decription">
      <h2 class="fruits-title title">ORGANIC FRUITS</h2>
      <p class="fruits-text">
        Our organic fruits are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible. We offer a wide selection of organic fruits
        grown without the use of harmful pesticides or chemicals.
      </p>
    </div>

    <ul class="fruits-list list">
      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Strawberry"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/strawberry@1x.webp 1x,
                  ../img/fruits-gallery/strawberry@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/strawberry@1x.png 1x,
                  ../img/fruits-gallery/strawberry@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="../img/fruits-gallery/strawberry@1x.png"
                alt="Strawberry"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Strawberry</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">100 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Banana"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/banana@1x.webp 1x,
                  ../img/fruits-gallery/banana@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/banana@1x.png 1x,
                  ../img/fruits-gallery/banana@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/fruits-gallery/banana@1x.png"
                alt="Banana"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Banana</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">80 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Watermelon"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/watermelon@1x.webp 1x,
                  ../img/fruits-gallery/watermelon@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/watermelon@1x.png 1x,
                  ../img/fruits-gallery/watermelon@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/fruits-gallery/banana@1x.png"
                alt="Watermelon"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Watermelon</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">40 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Lime"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/lime@1x.webp 1x,
                  ../img/fruits-gallery/lime@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/lime@1x.png 1x,
                  ../img/fruits-gallery/lime@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="../img/fruits-gallery/lime@1x.png"
                alt="Lime"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Lime</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">60 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Apple"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/apple@1x.webp 1x,
                  ../img/fruits-gallery/apple@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/apple@1x.png 1x,
                  ../img/fruits-gallery/apple@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="../img/fruits-gallery/apple@1x.png"
                alt="Apple"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Apple</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">50 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Peach"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/peach@1x.webp 1x,
                  ../img/fruits-gallery/peach@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/peach@1x.png 1x,
                  ../img/fruits-gallery/peach@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/fruits-gallery/apple@1x.png"
                alt="Peach"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Peach</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">80 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Plums"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/plums@1x.webp 1x,
                  ../img/fruits-gallery/plums@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/plums@1x.png 1x,
                  ../img/fruits-gallery/plums@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/fruits-gallery/plums@1x.png"
                alt="Plums"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Plums</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">40 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Orange"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/orange@1x.webp 1x,
                  ../img/fruits-gallery/orange@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/orange@1x.png 1x,
                  ../img/fruits-gallery/orange@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/fruits-gallery/orange@1x.png"
                alt="Orange"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Orange</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">60 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>

      <li class="fruits-item">
        <a
          class="fruits-link link"
          href=""
          target="_blank"
          rel="noreferref noopener"
          aria-label="Kiwi"
        >
          <div class="fruits-thumb">
            <picture>
              <source
                srcset="
                  ../img/fruits-gallery/kiwi@1x.webp 1x,
                  ../img/fruits-gallery/kiwi@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ../img/fruits-gallery/kiwi@1x.png 1x,
                  ../img/fruits-gallery/kiwi@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="../img/fruits-gallery/kiwi@1x.png"
                alt="Kiwi"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>

            <div class="fruits-overlay">
              <h3 class="fruits-label">Kiwi</h3>
              <p class="fruits-type">Plant</p>
              <p class="fruits-price">90 UAH / kg</p>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <button class="order button" type="button" name="Order" data-modal-open>
      Order
    </button>
  </div>
</div>
