<div class="container fruit-gallery">
  <div class="fruits-decription">
    <h2 class="fruits-title title">ORGANIC FRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
  </div>

  <div class="fruits-gallery">
    <ul class="fruits-list list">
      <li class="fruits-item">
        <div
          class="fruits-link link"
         
        >
          <h3 class="fruits-label">Strawberry</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">100 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/strawberry-desk@1x.webp 1x,
                  ./img/fruits-gallery/strawberry-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/strawberry-desk@1x.png 1x,
                  ./img/fruits-gallery/strawberry-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/strawberry-tab@1x.webp 1x,
                  ./img/fruits-gallery/strawberry-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/strawberry-tab@1x.png 1x,
                  ./img/fruits-gallery/strawberry-tab@2x.png 2x
                "
                type="image/png"
              />

              <!-- Phone -->
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/strawberry-mob@1x.webp 1x,
                  ./img/fruits-gallery/strawberry-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/strawberry-mob@1x.png 1x,
                  ./img/fruits-gallery/strawberry-mob@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/strawberry-mob@1x.png1x"
                alt="Strawberry"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
         
        >
          <h3 class="fruits-label">Banana</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">80 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/banana-desk@1x.webp 1x,
                  ./img/fruits-gallery/banana-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/banana-desk@1x.png 1x,
                  ./img/fruits-gallery/banana-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/banana-tab@1x.webp 1x,
                  ./img/fruits-gallery/banana-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/banana-tab@1x.png 1x,
                  ./img/fruits-gallery/banana-tab@2x.png 2x
                "
                type="image/png"
              />

              <!-- Phone -->
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/banana-mob@1x.webp 1x,
                  ./img/fruits-gallery/banana-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/banana-mob@1x.png 1x,
                  ./img/fruits-gallery/banana-mob@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/banana-mob@1x.png1x"
                alt="Banana"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
         
        >
          <h3 class="fruits-label">Watermelon</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">40 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/melon-desk@1x.webp 1x,
                  ./img/fruits-gallery/melon-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/melon-desk@1x.png 1x,
                  ./img/fruits-gallery/melon-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/melon-tab@1x.webp 1x,
                  ./img/fruits-gallery/melon-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/melon-tab@1x.png 1x,
                  ./img/fruits-gallery/melon-tab@2x.png 2x
                "
                type="image/png"
              />

              <!-- Phone -->
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/melon-mob@1x.webp 1x,
                  ./img/fruits-gallery/melon-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/melon-mob@1x.png 1x,
                  ./img/fruits-gallery/melon-mob@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/melon-mob@1x.png1x"
                alt="Melon"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
          
        >
          <h3 class="fruits-label">Lime</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">60 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/lime-desk@1x.webp 1x,
                  ./img/fruits-gallery/lime-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/lime-desk@1x.png 1x,
                  ./img/fruits-gallery/lime-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/lime-tab@1x.webp 1x,
                  ./img/fruits-gallery/lime-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/lime-tab@1x.png 1x,
                  ./img/fruits-gallery/lime-tab@2x.png 2x
                "
                type="image/png"
              />

              <!-- Phone -->
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/lime-mob@1x.webp 1x,
                  ./img/fruits-gallery/lime-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/lime-mob@1x.png 1x,
                  ./img/fruits-gallery/lime-mob@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/lime-mob@1x.png1x"
                alt="lime"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
          
        >
          <h3 class="fruits-label">Apple</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">50 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/apple-desk@1x.webp 1x,
                  ./img/fruits-gallery/apple-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/apple-desk@1x.png 1x,
                  ./img/fruits-gallery/apple-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/apple-tab@1x.webp 1x,
                  ./img/fruits-gallery/apple-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/apple-tab@1x.png 1x,
                  ./img/fruits-gallery/apple-tab@2x.png 2x
                "
                type="image/png"
              />

              <!-- Phone -->
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/apple-mob@1x.webp 1x,
                  ./img/fruits-gallery/apple-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/apple-mob@1x.png 1x,
                  ./img/fruits-gallery/apple-mob@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/apple-mob@1x.png1x"
                alt="Apple"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
          
        >
          <h3 class="fruits-label">Peach</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">80 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/peach-desk@1x.webp 1x,
                  ./img/fruits-gallery/peach-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/peach-desk@1x.png 1x,
                  ./img/fruits-gallery/peach-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/peach-tab@1x.webp 1x,
                  ./img/fruits-gallery/peach-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/peach-tab@1x.png 1x,
                  ./img/fruits-gallery/peach-tab@2x.png 2x
                "
                type="image/png"
              />

              <!-- Phone -->
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/peach-mob@1x.webp 1x,
                  ./img/fruits-gallery/peach-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/fruits-gallery/peach-mob@1x.png 1x,
                  ./img/fruits-gallery/peach-mob@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/peach-mob@1x.png1x"
                alt="Peach"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
          
        >
          <h3 class="fruits-label">Plums</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">40 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/plums-desk@1x.webp 1x,
                  ./img/fruits-gallery/plums-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/plums-desk@1x.png 1x,
                  ./img/fruits-gallery/plums-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/plums-tab@1x.webp 1x,
                  ./img/fruits-gallery/plums-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/plums-tab@1x.png 1x,
                  ./img/fruits-gallery/plums-tab@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/plums-mob@1x.png1x"
                alt="Plums"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
         
        >
          <h3 class="fruits-label">Orange</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">60 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/orange-desk@1x.webp 1x,
                  ./img/fruits-gallery/orange-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/orange-desk@1x.png 1x,
                  ./img/fruits-gallery/orange-desk@2x.png 2x
                "
                type="image/png"
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/orange-tab@1x.webp 1x,
                  ./img/fruits-gallery/orange-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/fruits-gallery/orange-tab@1x.png 1x,
                  ./img/fruits-gallery/orange-tab@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/orange-mob@1x.png1x"
                alt="Orange"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>

      <li class="fruits-item">
        <div
          class="fruits-link link"
         
        >
          <h3 class="fruits-label">Kiwi</h3>
          <p class="fruits-type">Plant</p>
          <p class="fruits-price">90 UAH / kg</p>
          <div class="fruits-thumb">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/kiwi-desk@1x.webp 1x,
                  ./img/fruits-gallery/kiwi-desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/fruits-gallery/kiwi-desk@1x.png 1x,
                  ./img/fruits-gallery/kiwi-desk@2x.png 2x
                "
                type="image/png"
              />

              <img
                src="./img/fruits-gallery/kiwi-desk@1x.png1x"
                alt="Kiwi"
                width="295"
                height="276"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button class="fruits-order-btn js-open-modal" data-modal="1" type="button">
    <svg class="fruits-order-icon" height="14" width="14">
      <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
    </svg>
    order
  </button>
</div>
