
<header class="header">
    <div class="main-nav">
     <div class="logo">
         <svg width="16" height="16" class="logo-icon">
             <use href="./img/svg/symbol-defs.svg#icon-logo"></use>
             
         </svg>
     
         <a href="./index.html" class="logo link">fresh harvest box</a>
     </div>
 
<!--Button hamburger-->
    <button 
        type="button"
        class="menu-toggle" 
        data-menu-button 
        aria-expanded="false" 
        aria-controls="menu-container">

        <svg width="24" height="24" aria-label="Switch mobile menu">
            <use class="icon-menu" href="./img/svg/symbol-defs.svg#icon-menu"></use>
            <use class="icon-cross" href="./img/svg/symbol-defs.svg#icon-close"></use>
        </svg>

    </button>         
 
<!--mobile menu-->
    <div class="menu-container" data-menu id="menu-container">

    <div class="navigation">

        <nav class="site-nav">
            <ul class="site-menu list">
                <li class="item"><a href="#" class="menu link">How It Works</a></li>
                <li class="item"><a href="#" class="menu link">Fruits</a></li>
                <li class="item"><a href="#" class="menu link">Contacts</a></li>

            </ul>    
            
        </nav>
       
    </div>   
    
        <button type="button" class="basket-btn-mobile js-open-modal" data-modal="3">
            <svg width="24" height="24" class="icon-basket-mobile ">
                <use href="./img/svg/symbol-defs.svg#icon-basket-menu"></use>
            </svg>
        </button>
    </div>


        <button type="button" class="basket-btn-desk js-open-modal" data-modal="3">
            <svg width="24" height="24" class="icon-basket-desk ">
                <use href="./img/svg/symbol-defs.svg#icon-basket-menu"></use>
            </svg>
        </button>

        
    </div>
   
 
 </header>


 
