<div class="hero-container container">
  <div class="hero-title-wrapper">
    <h1 class="main-title">
      fresh harvest box <br />
      is your 0ne-stop place for a delicious fruit basket
    </h1>
  </div>
  <div class="hero-img-wrapper">
    <img
      src="./img/hero/hero_main_img_mob@1x.jpg"
      alt="Girl with fruit"
      class="hero-main-img"
    />
    <button class="hero-main-btn" type="button">
      <span class="hero-btn-text">shop now</span>
    </button>
  </div>

  <!-- <p class="hero-text">
    Our expertly curated fruit baskets are made with the freshest, highest
    quality fruits available. Whether you are looking for a healthy snack or a
    gift for a loved one, Fresh Harvest Box has got you covered.
  </p>
  <div class="hero-blocks first-block">
    <h3 class="hero-title">Fruit</h3>
    <img src="" alt="" class="hero-img" />

    <p class="hero-blocks-text">
      Refreshing and juicy, watermelon is the perfect summer treat and a great
      source of hydration
    </p>
  </div>
  <ul class="hero-btn-list">
    <li class="hero-btns-item">
      <button class="hero-btn" type="button">&#35;organic</button>
    </li>
    <li class="hero-btns-item">
      <button class="hero-btn" type="button">&#35;products</button>
    </li>
    <li class="hero-btns-item">
      <button class="hero-btn" type="button">&#35;basket</button>
    </li>
    <li class="hero-btns-item">
      <button class="hero-btn" type="button">&#35;fruits</button>
    </li>
  </ul>
  <div class="hero-blocks second-block">
    <h3 class="hero-title">Fruit</h3>
    <img src="" alt="" class="hero-img" />
    <p class="hero-blocks-text">
      Sweet and juicy, strawberries are packed with vitamin C and antioxidants,
      making them a delicious and healthy snack
    </p>
  </div> -->
</div>
