<div class="hero-container container">
  <div class="hero-title-wrapper">
    <h1 class="main-title">
      fresh harvest box <br />
      is your 0ne-stop place for a delicious fruit basket
    </h1>
  </div>
  <div class="hero-img-wrapper">
    <img
      src="./img/hero/mobile/hero_main_img_mob@1x.jpg"
      alt="Girl with fruit"
      class="hero-main-img"
    />
    <button class="hero-main-btn" type="button">
      <span class="hero-btn-text">shop now</span>
    </button>
  </div>

  <p class="main-hero-text">
    Our expertly curated fruit baskets are made with the freshest, highest
    quality fruits available. Whether you are looking for a healthy snack or a
    gift for a loved one, Fresh Harvest Box has got you covered.
  </p>
  <div class="hero-blocks first-block">
    <h3 class="hero-title first-block-title">Fruit</h3>
    <div class="hero-img-thumb">
      <img
        src="../img/hero/mobile/watermelon_mob@1x.png"
        alt="Watermelon"
        class="hero-img"
      />

      <p class="hero-block-text first-block-text">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
  </div>
  <ul class="hero-btn-list">
    <li class="hero-btn-item">
      <button class="hero-btn" type="button">&#35;organic</button>
    </li>
    <li class="hero-btn-item">
      <button class="hero-btn" type="button">&#35;products</button>
    </li>
    <li class="hero-btn-item">
      <button class="hero-btn" type="button">&#35;basket</button>
    </li>
    <li class="hero-btn-item">
      <button class="hero-btn" type="button">&#35;fruits</button>
    </li>
  </ul>
  <div class="hero-blocks second-block">
    <h3 class="hero-title second-block-title">Fruit</h3>
    <div class="hero-img-thumb">
      <img
        src="../img/hero/mobile/strawerry_basket_mob@1x.png"
        alt="strawerry basket"
        class="hero-img"
      />
      <p class="hero-block-text second-block-text">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </div>
  </div>
</div>
