<div class="hero-container container">
  <h1 class="main-title">
    fresh harvest box <br />
    is your 0ne-stop place for a delicious fruit basket
  </h1>
  <div class="hero-img-wrapper">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/tablet/main_hero_img_tabl@1x.webp 1x,
          ./img/hero/tablet/main_hero_img_tabl@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/tablet/main_hero_img_tabl@1x.jpg 1x,
          ./img/hero/tablet/main_hero_img_tabl@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./img/hero/mobile/hero_main_img_mob@1x.webp 1x,
          ./img/hero/mobile/hero_main_img_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./img/hero/mobile/hero_main_img_mob@1x.jpg 1x,
          ./img/hero/mobile/hero_main_img_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./img/hero/mobile/hero_main_img_mob@1x.jpg"
        alt="Girl with fruit"
        class="hero-main-img"
      />
    </picture>
    <a class="hero-link" href="#fruits">shop now</a>
  </div>

  <div class="blocks-wrapper">
    <div class="text-block-wrap block">
      <p class="main-hero-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="hero-blocks first-block">
        <h3 class="hero-title first-block-title">Fruit</h3>
        <div class="hero-img-thumb">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/hero/mobile/watermelon_mob@1x.webp 1x,
                ./img/hero/mobile/watermelon_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/hero/mobile/watermelon_mob@1x.png 1x,
                ./img/hero/mobile/watermelon_mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./img/hero/mobile/watermelon_mob@1x.png"
              alt="Watermelon"
              class="hero-img"
            />
          </picture>

          <p class="hero-block-text first-block-text">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>
    </div>
    <div class="list-block-wrap block">
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <a class="hero-btn-links" href=""
            ><h3 class="hero-text-title">&#35;organic</h3></a
          >
        </li>
        <li class="hero-btn-item">
          <a class="hero-btn-links" href=""
            ><h3 class="hero-text-title">&#35;products</h3></a
          >
        </li>
        <li class="hero-btn-item">
          <a class="hero-btn-links" href=""
            ><h3 class="hero-text-title">&#35;basket</h3></a
          >
        </li>
        <li class="hero-btn-item">
          <a class="hero-btn-links" href=""
            ><h3 class="hero-text-title">&#35;fruits</h3></a
          >
        </li>
      </ul>
      <div class="hero-blocks second-block">
        <h3 class="hero-title second-block-title">Fruit</h3>
        <div class="hero-img-thumb">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/hero/mobile/strawberry_basket_mob@1x.webp 1x,
                ./img/hero/mobile/strawberry_basket_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/hero/mobile/strawberry_basket_mob@1x.png 1x,
                ./img/hero/mobile/strawberry_basket_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/hero/mobile/strawberry_basket_mob@1x.png"
              alt="strawberry basket"
              class="hero-img"
            />
          </picture>

          <p class="hero-block-text second-block-text">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
