<div class="container">
  <h2 class="title-how-it">
    TO ORDER YOUR FRUIT BASKET, SIMPLY FOlLOW THESE EASY STEPS
  </h2>
  <p class="descript-how-it">
    Our baskets are assembled with care and delivered straight to your doorstep,
    so you can enjoy the taste of fresh fruit without ever leaving your home.
    Whether you're looking for a healthy snack or a thoughtful gift, our fruit
    baskets are the perfect choice.
  </p>
  <ul class="list-how-it">
    <li class="link-how-it">
      <div class="card-how-it">
        <div class="title-box-how-it">
          <h3 class="title-card-how-it">First Step</h3>
        </div>

        <p class="descript-step-how-it">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </div>
    </li>
    <li class="link-how-it">
      <div class="card-how-it">
        <div class="title-box-how-it">
          <h3 class="title-card-how-it">Second Step</h3>
        </div>

        <p class="descript-step-how-it">
          Click on the basket and fill out the form.
        </p>
      </div>
    </li>
    <li class="link-how-it">
      <div class="card-how-it">
        <div class="title-box-how-it">
          <h3 class="title-card-how-it">Third Step</h3>
        </div>

        <p class="descript-step-how-it">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </div>
    </li>
  </ul>

  <div class="box-gif">
    <img
      src="./img/how-it/deck-gif.gif"
      class="gif-how-it"
      alt="fruits"
      width="860"
      height="476"
      loading="lazy"
    />
  </div>
</div>
