<div class="overlay js-overlay-modal ">
    <div class="modal order-modal" data-modal="1">
        <h2 class="order-modal-title">Your Order</h2>

    <!--   close order button  -->
    <button
    class="order-close-btn button js-modal-close" type="button" js-modal-close>

        <svg class="order-close-icon" > 
          <use  href="../img/svg/symbol-defs.svg#icon-close-btn"></use>
        </svg>
      </button>
      

      <form class="order-form" name="order-form">

      <div class="order-cards">
        <ul class="order-list">
            <li class="order-item">
                
                    <div class="order-block">
                        <label class="modal-privacy" for="modal-privacy">
                            <h3 class="order-item-name">
                                Strawberry Basket
                            </h3>
                            <p class="order-item-type">
                                Plant
                            </p>
                            <input class="order-checkbox" type="checkbox" id="modal-privacy">
                            <svg class="order-checkbox-icon" width="10" height="8">
                                <use href="./images/icons.svg#icon-checkbox"></use>
                            </svg>
                            
                        </label>                        
                    </div>

                    <div class="order-strawberry-image">
                        <picture >
                            <!-- Desktop -->
                            <source
                            media="(min-width: 1280px)"
                            srcset="
                            ./img/modal-window-img/strawberry-basket-desk@1x.png 1x,
                            ./img/modal-window-img/strawberry-basket-desk@2x.png 2x
                            "
                            type="image/png"
                            />

                            <!-- Tablet -->
                            <source
                            media="(min-width: 768px)"
                            srcset="
                            ./img/modal-window-img/strawberry-basket-tab@1x.png 1x,
                            ./img/modal-window-img/strawberry-basket-tab@2x.png 2x
                            "
                            type="image/png"
                            />

                            <!-- Phone -->
                            <source
                            media="(max-width: 767px)"
                            srcset="
                            ./img/modal-window-img/strawberry-basket-mob@1x.png 1x,
                            ./img/modal-window-img/strawberry-basket-mob@2x.png 2x
                            "
                            type="image/png"
                            />
                            <img  
                            src="./img/modal-window-img/strawberry-basket-desk@2x.png"                        
                            alt="Strawberry basket"
                            width="173"
                            height="196"
                            loading="lazy">
                        </picture>
                        <!-- <img  srcset="
                        ./img/modal-window-img/strawberry-basket-mob@1x.png 88w,
                        ./img/modal-window-img/strawberry-basket-tab@1x.png 133w,
                        ./img/modal-window-img/strawberry-basket-desk@1x.png 173w,
                        ./img/modal-window-img/strawberry-basket-mob@2x.png 176w,
                        ./img/modal-window-img/strawberry-basket-tab@2x.png 266w,
                        ./img/modal-window-img/strawberry-basket-desk@2x.png 346w"
                        sizes="(min-width: 1280px) 173px, (min-width: 768px) 133px,
                        (min-width: 375px) 88px, 100wv"
                        src="./img/modal-window-img/strawberry-basket-mob@1x.png"
                        alt="apple basket"
                        width="173"
                        height="196"
                        loading="lazy"> -->
                    </div>
            </li>

            <li class="order-item">
                
                    <div class="order-block">
                        <label class="modal-privacy" for="modal-privacy">
                            <h3 class="order-item-name">
                                Apple Basket
                                
                            </h3>
                            <p class="order-item-type">
                                Plant
                            </p>
                            <input class="order-checkbox" type="checkbox" id="modal-privacy">
                            <svg class="order-checkbox-icon" width="10" height="8">
                                <use href="./images/icons.svg#icon-checkbox"></use>
                            </svg>
                            
                        </label>                        
                    </div>

                    <div class="order-image">
                        <picture>
                            <!-- Desktop -->
                            <source
                            media="(min-width: 1280px)"
                            srcset="
                            ./img/modal-window-img/apple-basket-desk@1x.png 1x,
                            ./img/modal-window-img/apple-basket-desk@2x.png 2x
                            "
                            type="image/png"
                            />

                            <!-- Tablet -->
                            <source
                            media="(min-width: 768px)"
                            srcset="
                            ./img/modal-window-img/apple-basket-tab@1x.png 1x,
                            ./img/modal-window-img/apple-basket-tab@2x.png 2x
                            "
                            type="image/png"
                            />

                            <!-- Phone -->
                            <source
                            media="(max-width: 767px)"
                            srcset="
                            ./img/modal-window-img/apple-basket-mob@1x.png 1x,
                            ./img/modal-window-img/apple-basket-mob@2x.png 2x
                            "
                            type="image/png"
                            />
                            <img  
                            src="./img/modal-window-img/apple-basket-desk@2x.png"                        
                            alt="Apple basket"
                            width="229"
                            height="196"
                            loading="lazy">
                        </picture>
                        <!-- <img  srcset="
                        ./img/modal-window-img/apple-basket-mob@1x.png 106w,
                        ./img/modal-window-img/apple-basket-tab@1x.png 172w,
                        ./img/modal-window-img/apple-basket-mob@2x.png 212w,
                        ./img/modal-window-img/apple-basket-desk@1x.png 229w,
                        ./img/modal-window-img/apple-basket-tab@2x.png 352w,
                        ./img/modal-window-img/apple-basket-desk@2x.png 458w"
                        sizes="(min-width: 1280px) 229px, (min-width: 768px) 172px,
                        (min-width: 375px) 88px, 100wv"
                        src="./img/modal-window-img/apple-basket-mob@1x.png"
                        alt="apple basket"
                        width="229"
                        height="196"
                        loading="lazy"> -->
                    </div>


                
            </li>

            <li class="order-item">
                
                    <div class="order-block">
                        <label class="modal-privacy" for="modal-privacy">
                            <h3 class="order-item-name">
                                Fruits Basket
                            </h3>
                            <p class="order-item-type" >
                                Plant
                            </p>
                            <input class="order-checkbox" type="checkbox" id="modal-privacy">
                            <svg class="order-checkbox-icon" width="10" height="8">
                                <use href="./images/icons.svg#icon-checkbox"></use>
                            </svg>
                            
                        </label>                        
                    </div>

                    <div class="order-image">
                        <picture>
                            <!-- Desktop -->
                            <source
                            media="(min-width: 1280px)"
                            srcset="
                            ./img/modal-window-img/fruits-basket-desk@1x.png 1x,
                            ./img/modal-window-img/fruits-basket-desk@2x.png 2x
                            "
                            type="image/png"
                            />

                            <!-- Tablet -->
                            <source
                            media="(min-width: 768px)"
                            srcset="
                            ./img/modal-window-img/fruits-basket-tab@1x.png 1x,
                            ./img/modal-window-img/fruits-basket-tab@2x.png 2x
                            "
                            type="image/png"
                            />

                            <!-- Phone -->
                            <source
                            media="(max-width: 767px)"
                            srcset="
                            ./img/modal-window-img/fruits-basket-mob@1x.png 1x,
                            ./img/modal-window-img/fruits-basket-mob@2x.png 2x
                            "
                            type="image/png"
                            />
                            <img  
                            src="./img/modal-window-img/fruits-basket-desk@2x.png"                        
                            alt="Fruits basket"
                            width="229"
                            height="196"
                            loading="lazy">
                        </picture>
                        
                        <!-- <img   srcset="
                        ./img/modal-window-img/fruits-basket-mob@1x.png 106w,
                        ./img/modal-window-img/fruits-basket-tab@1x.png 172w,
                        ./img/modal-window-img/fruits-basket-mob@2x.png 212w,
                        ./img/modal-window-img/fruits-basket-desk@1x.png 229w,
                        ./img/modal-window-img/fruits-basket-tab@2x.png 352w,
                        ./img/modal-window-img/fruits-basket-desk@2x.png 458w"
                        sizes="(min-width: 1280px) 229px, (min-width: 768px) 172px,
                        (min-width: 375px) 88px, 100wv"
                        src="./img/modal-window-img/fruits-basket-mob@1x.png"
                        alt="apple basket"
                        width="229"
                        height="196"
                        loading="lazy"> -->
                    </div>
                
            </li>            
        </ul>
      </div>

      

        <div class="client-data">
            <label class="contact-label" for="user-name" >Name</label>
               <input class="input-modal-field" type="text" name="user-name" id="user-name" placeholder="Enter full name..." >
            
            
             <label class="contact-label" for="user-email" >Email</label>
                <input class="input-modal-field" type="email" name="user-email" id="user-email" placeholder="Enter email..." >
            
            
            
            <label class="contact-label" for="card-nomber" >Card nomber</label>
               <input class="input-modal-field" type="number" step="1" max="9999999999999999" name="card-nomber" id="card-nomber" placeholder="Enter card...">
            
            
            
            
             <label class="contact-label" for="comment">Comment</label>
             <textarea class="comment-field" name="comment" id="comment" rows="8" placeholder="Enter comments..."></textarea>
            
            
             <button class="modal-send-btn button" type="submit">Send</button>
        </div>

       </form>
    
 </div>
</div>
