.modal-basket {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 335px;
    height: 100%;
    max-height: 584px;
    padding: 20px;

    background-color: #fff;
    border-radius: 20px;
    overflow-y: auto;

    transform: translate(-50%, -50%)
}

@media screen and (min-width:768px) {
    .modal-basket {
        width: 600px;
        padding: 40px;
    }
}

@media screen and (min-width:1280px) {
    .modal-basket {
        width: 891px;
    }
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    color: var(--primary-bg-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-icon {
    fill: currentColor;
    width: 12px;
    height: 12px;
}

@media screen and (min-width:768px) {
    .close-btn {
        width: 28px;
        height: 28px;
    }

    .close-icon {
        width: 14px;
        height: 14px;
    }
}

.modal-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    color: var(--primary-bg-color);
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:768px) {
    .modal-title {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -0.04em;
    }
}

.basket {
    width: 240px;
    height: 190px;
}

@media screen and (min-width:768px) {
    .basket {
        width: 325px;
        height: 277;
    }
    
}

.modal-info {
    max-width: 295px;
    text-align: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.04em;
}