.modal-basket {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;
    max-height: 426px;
    max-width: 335px;
    padding: 20px;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px rgba(255, 255, 255, 0.9), inset 0 -2px 1px rgba(0, 0, 0, 0.25);
    
    overflow-y: auto;
    transform: translate(-50%, -100%);
    transition: opacity var(--animation), visibility var(--animation), transform var(--animation);
}

@media screen and (min-width:768px) {
    .modal-basket {
        max-width: 600px;
        height: auto;
        max-height: none;
        padding: 40px;
    }
}

.modal-basket.active,
.basket-overlay.active {
    opacity: 1;
    visibility: visible;

}

.modal-basket.active {
    transform: translate(-50%, -50%);
}

.basket-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    display: block;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    color: var(--project-main-color);
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: scale var(--animation);
}

.basket-close-icon {
    fill: currentColor;
    width: 24px;
    height: 24px;
}

@media screen and (min-width:768px) {
    .basket-close-btn {
        width: 28px;
        height: 28px;
    }

    .basket-close-icon {
        width: 28px;
        height: 28px;
    }

    .basket-close-icon:hover,
    .basket-close-icon:focus {
        scale: 1.2;
    }
}

.basket-title {
    margin-bottom: 52px;
    text-align: start;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    color: var(--primary-bg-color);
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:768px) {
    .basket-title {
        margin-bottom: 38px;

        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -0.04em;
    }
}

.basket {
    width: 240px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    background-color: transparent;
}

@media screen and (min-width:768px) {
    .basket {
        width: 325px;
        height: 278px;
        margin-bottom: 48px;
    }
}

.picture-box {
    position: relative;
}

.add-btn {
    position: absolute;
    right: 12%;
    bottom: -10%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 22px 6px;
    
    text-align: start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    background-color: var(--primary-green);
    color: var(--text-accent-color);
    border-radius: 50%;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: color var(--animation), background-color var(--animation), scale var(--animation);
}

@media screen and (min-width:768px) {
    .add-btn {
        right: 23%;
        bottom: -6%;

        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.04em;

        padding: 26px 11px;
    }

    .add-btn:hover,
    .add-btn:focus {
        background-color: var(--text-accent-color);
        color: var(--primary-green);
        scale: 1.15;
        border: 1px solid var(--primary-green);
    }

    .add-svg {
        margin-right: 10px;
    }
}

.add-svg {
    margin-right: 6px;
    fill: currentColor;
    transform: translatey(50%);
}

.add-text {
    width: 48px;
    transform: translatey(-9%) rotate(-14deg);

}

@media screen and (min-width:768px){
    .add-text {
        width: 58px;
    }
}

.modal-info {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.33;
    letter-spacing: -0.04em;
    color: var(--project-main-color);
}

.help-info {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.17;
    color: #000;
}

@media screen and (min-width:768px) {
    .modal-info {
        width: 227px;
        font-size: 24px;
        line-height: 1.19;
    }

    .help-info {
        font-size: 17px;
        line-height: 1.17;
    }
}