.contacs {
    padding-bottom: 80px;
}

@media screen and (min-width: 768px){
    .contacs {
    padding-bottom: 144px;
    } 
}

@media screen and (min-width: 1280px){
    .contacs {
    padding-bottom: 150px;
    } 
}

.container-contacs {
    position: relative;

    padding-top: 53px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

@media screen and (min-width: 768px){
    .container-contacs {
        padding-top: 79px; 
    }
}

@media screen and (min-width: 1280px){
    .container-contacs {
        padding-top: 89px; 
    }
}



.primary-text-contacs {
    position: absolute;
    text-align: center;
    
    top: 0;
    

    max-width: 335px;

    font-weight: 500;
    font-size: 32px;
    line-height: 1;  
    letter-spacing: -0.04em;

    color: var(--text-accent-color);
}

@media screen and (min-width: 768px) {
    .primary-text-contacs {
        max-width: 648px;
        font-size: 54px;

        top: 0;
        
    }
}

@media screen and (min-width: 1280px) {
    .primary-text-contacs {
        max-width: 740px;
        font-size: 64px; 

        top: 0;
        
    }
}

.list-img-contacs {
    display: flex;
    gap: 16px;

}

@media screen and (min-width: 768px){
    .list-img-contacs {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1280px){
    .list-img-contacs {
        gap: 24px;
    }
}

.list-img-contacs .item:last-child {
    display: none;
}

@media screen and (min-width:768px){
    .list-img-contacs .item:last-child {
        display: block;
    }
}

.form-field {
    display: none;
}

@media screen and (min-width: 768px) {
    .form-field {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;

        width: 492px;
    } 
} 
 

.form-contacs {
    position: relative;
}

.text-contacs {

    text-align: center;
    max-width: 492px;

    margin-bottom: 80px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;

    color: var(--text-accent-color);
}

.sub-input {
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 110px;

    border-radius: 100px;
    border: none;
    background-color: transparent;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: var(--text-accent-color);

    outline: 1px solid rgba(255, 255, 255, 0.3); 
}

.sub-input:invalid {
    outline: 1px solid rgb(225, 73, 73);
}

.sub-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.5);
}

.btn-sub{
    position: absolute;
    
    top: 0;
    left: 290px;

    transform: translateX(-50%);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;

    border-radius: 100px;

    transition: background-color 250ms ease-in-out;
    cursor: pointer;
    color: var(--text-accent-color);
    background-color: #9DC162; 
}

.btn-sub:hover, .btn-sub:focus {
    background-color: #6c893e;
}