section {
    background-color: tomato;
}


.container-contacs {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.primary-text-contacs {
    position: absolute;
    text-align: center;

    max-width: 335px;

    font-weight: 500;
    font-size: 32px;
    line-height: 1;  

    color: #fff;
}

.list-img-contacs {
    display: flex;
}

.list-img-contacs .item:last-child {
    display: none;
}

@media screen and (min-width:768px){
    .list-img-contacs .item:last-child {
        display: block;
    }
}

.form-field {
    display: none;
}

@media screen and (min-width: 768px) {
    .form-field {
        display: block;
    } 
} 

.text-contacs {

    text-align: center;
    width: 492px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    color: #fff;
}

.sub-input {
    padding: 15px 24px;

    border-radius: 100px;
    border: 1px solid #FFFFFF;
    background-color: transparent;


    outline: 1px solid transparent;
}

.btn-sub{
    

    background-color: #9DC162; 
}