@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
  .footer {
    background-color: white;
  }
  .footer-cover {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-img {
    width: 335px;
  }
  .footer-logo-text {
    margin-top: 20px;

    display: flex;
    justify-content: center;
  }
  .footer-logo {
    margin-right: 8px;
  }
  .logo-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--primary-bg-color);
  }
  .footer-anchor {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .anchor-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    color: var(--primary-bg-color);
  }
  .social-media {
    margin-top: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }
  .icon-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-bg-color);
    border-radius: 10px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .adr-phone-list {
    margin-top: 44px;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    gap: 14px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    text-transform: uppercase;

    color: var(--primary-bg-color);
  }

  .adr {
    text-align: center;
  }
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-split {
    display: flex;
    flex-direction: row;
  }

  .right-side {
    padding-top: 38px;
    margin-left: auto;

    align-items: center;
  }
  .footer-img {
    width: 349px;
  }

  .footer-anchor {
    margin-top: 80px;
  }

  .social-media {
    margin-top: 0;
  }

  .social-icon {
    width: 44px;
    height: 44px;
  }
  .icon {
    width: 28px;
    height: 28px;

    opacity: 0.8;
  }

  .footer-contacts {
    text-align: left;

    font-size: 18px;
    line-height: 1.33;

    text-transform: uppercase;
  }
  .icon-symbol:hover,
  .icon-symbol:focus {
    background-color: rgba(174, 19, 50, 0.1);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .left-side {
    display: flex;
    justify-content: center;
  }
  .right-side {
    padding-top: 0px;

    margin-left: auto;
  }

  .footer-anchor {
    margin: auto;
    margin-left: 243px;
  }
}
