.container.fruits {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .container.fruits {
    padding-bottom: 144px;
  }
}

@media screen and (min-width: 1280px) {
  .container.fruits {
    padding-bottom: 150px;
  }
}

.fruits-decription {
  display: block;
  max-width: 334px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 44px;
}

.fruits-title {
  margin-bottom: 14px;

  align-items: center;
  text-align: center;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruits-text {
  margin-bottom: 4px;
  max-width: 334px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  display: inline-block;
  justify-content: center;

  text-align: center;
  letter-spacing: -0.04em;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruits-list {
  align-items: center;
  margin-bottom: 44px;
}

.fruits-item {
  position: relative;
  margin-bottom: 14px;
  border-radius: 20px;

  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fruits-item:hover,
.fruits-item:focus {
  transform: scale(1.03);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .fruits-item {
    max-width: 335px;
    height: 465px;
  }
}

.fruits-item:nth-child(1) {
  background-color: #f8766b;
}

.fruits-item:nth-child(2) {
  background-color: #edd251;
}

.fruits-item:nth-child(3) {
  background-color: #9dc262;
}

.fruits-item:nth-child(4) {
  background-color: #bfd663;
}

.fruits-item:nth-child(5) {
  background-color: #e93f29;
}

.fruits-item:nth-child(6) {
  background-color: #db4f4b;
}

.fruits-item:nth-child(7) {
  display: none;
  background-color: #9b5366;
}

.fruits-item:nth-child(8) {
  display: none;
  background-color: #f47f4c;
}

.fruits-item:nth-child(9) {
  display: none;
  background-color: #98b37e;
}

.fruits-link {
  display: block;
}

.fruits-thumb {
  padding: 122px 20px 72px 20px;
}

.fruits-overlay {
  padding-top: 64px;
  padding-right: 157px;
  padding-bottom: 24px;
  padding-left: 24px;

  content: '';
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 100%;

  opacity: 1;
}

.fruits-label {
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: -0.04em;
}

.fruits-type {
  margin-bottom: 277px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: -0.02em;
}

.fruits-price {
  padding: 12px 17.5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  width: 121px;

  letter-spacing: -0.04em;

  color: var(--primary-bg-color);
  background: #ffffff;
  border-radius: 200px;
}

/*Tablet styles*/
@media screen and (min-width: 768px) {
  .fruits-decription {
    margin-bottom: 44px;
    max-width: 624px;
    text-align: center;
  }

  .fruits-title {
    text-align: center;
    font-size: 40px;
    line-height: 1.1;
  }

  .fruits-text {
    max-width: 547px;
  }

  .fruits-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    column-gap: 16px;
    row-gap: 16px;
  }

  .fruits-item {
    --fr-items: 2;

    flex-basis: calc((100% - 16px) / var(--fr-items));
    max-width: 344px;
    height: 465px;
    margin-bottom: 0px;
  }

  .fruits-item:nth-child(7) {
    display: inline;
  }

  .fruits-item:nth-child(8) {
    display: inline;
  }

  .fruits-price {
    font-size: 18px;
    line-height: 1.33;

    width: 136px;
  }

  .fruits-link {
    display: block;
    padding-bottom: 53px;
  }

  .fruits-label {
    margin-bottom: 7px;

    font-size: 32px;
    line-height: 1.19;
  }

  .fruits-type {
    margin-bottom: 261px;
  }
}

/*Desktop styles*/

@media screen and (min-width: 1280px) {
  .fruits-decription {
    max-width: 624px;
  }

  .fruits-list {
    column-gap: 24px;
    row-gap: 24px;
  }

  .fruits-item {
    --fr-items: 3;
    flex-basis: calc((100% - 24px) / var(--fr-items));
    max-width: 389px;
  }

  .fruits-item:nth-child(9) {
    display: inline;
  }
}

.fruits-order-btn {
  display: flex;
  align-items: center;
  gap: 4px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #9dc262;
  border-radius: 50%;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruits-order-icon {
  fill: #ffffff;
}

.fruits-order-btn {
  transform: rotate(-14deg);

  width: 80px;
  height: 80px;

  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #9dc262;
  border-radius: 50%;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruits-order-icon {
  fill: #ffffff;
  display: block;
}

.fruits-order-icon:hover,
.fruits-order-icon:focus {
  fill: #9dc262;
}

.fruits-order-btn:hover,
.fruits-order-btn:focus {
  background-color: #ffffff;
  color: #9dc262;
}

/*Tablet styles*/
@media screen and (min-width: 768px) {
  .fruits-order-btn {
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 17px;
    padding-left: 36px;

    width: 114px;
    height: 114px;

    font-size: 18px;
    line-height: 1.33;
  }
}
