.header {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 15;
  width: 100%;

  background-color: var(--text-accent-color);
}

.logo {
  font-weight: 700;

  display: flex;
  align-items: center;
  text-align: center;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--project-main-color);
  transition: color var(--animation);
  outline: none;
}

@media screen and (min-width: 768px) {
  .logo {
    order: 2;
  }
}

@media screen and (min-width: 768px) {
  .logo:hover,
  .logo:focus {
    color: var(--primary-green);
  }
}

.logo-icon {
  margin-right: 8px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;  
}

.site-menu a {
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .main-nav {
    justify-content: space-between;
  }
}

.menu-toggle,
.basket-btn-mobile,
.basket-btn-desk {
  display: flex;
  align-self: center;
  min-height: 24px;
  min-width: 24px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle .icon-cross {
  display: none;
}

.menu-toggle.is-open .icon-cross {
  display: block;
}

.menu-toggle.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: flex;
  flex-direction: row;
}

.menu-container.is-open {
  transform: translate(0);
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 124px;

    background-color: var(--project-main-color);
    z-index: 998;
    transform: translate(100%);
    transition: transform var(--animation);
  }
}

.menu-container .site-nav {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .menu-container .site-nav {
    margin-right: 94px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-container .site-nav {
    margin-right: 322px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container .site-nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .menu-container .site-menu {
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.menu-container .site-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  order: 1;
  outline: none;
}

.menu-container .site-menu .menu {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--text-accent-color);
}

@media screen and (min-width: 768px) {
  .menu-container .site-menu .menu {
    color: var(--project-main-color);
    transition: color var(--animation);
  }
}

@media screen and (min-width: 768px) {
  .menu-container .site-menu .menu:hover,
  .menu-container .site-menu .menu:focus {
    color: var(--primary-green);
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .icon-basket-desk {
    display: none;
  }
}

.basket-btn-mobile {
  order: 2;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .icon-basket-desk {
    fill: var(--project-main-color);
    transition: fill var(--animation);
  }
}

@media screen and (min-width: 768px) {
  .icon-basket-desk:hover,
  .icon-basket-desk:focus {
    fill: var(--primary-green);
    outline: none;
  }
}

.basket-btn-desk {
  order: 3;
  margin-left: auto;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .basket-btn-desk {
    display: none;
  }
}

.icon-basket-mobile {
  fill: var(--text-accent-color);
}

@media screen and (min-width: 768px) {
  .basket-btn-mobile {
    display: none;
  }
}

.go-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  display: none;
  font-size: 20px;
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  background-color: var(--text-accent-color);
  padding: 15px 10px;
}


.go-top:hover {
  color: var(--project-main-color);
  border: 1px solid var(--project-main-color);
  background-color: var(--text-accent-color);
}


.go-top--show {
  display: block;
}