
.header {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 997;
    width: 100%;
    
    min-height: 50px;

    background-color: var(--btn-bg-color-hover);

}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    
    outline: none; 
    
    letter-spacing: -0.04em;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: var(--primary-bg-color);
}

@media screen and (min-width: 768px) {
    .logo {
        order: 2;
    }
}

.logo-icon {
    margin-right: 8px;
}

.main-nav {
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
}

@media screen and (min-width: 768px) {
    .main-nav {
        justify-content:left;
        gap: 94px;
        padding: 16px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .main-nav {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        gap: 322px;
    }
}

.menu-toggle {
    
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
 
    outline: none;
}


@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle .icon-cross{
    display: none;
} 

.menu-toggle.is-open .icon-cross{
    display: block;
}

.menu-toggle.is-open .icon-menu{
    display: none;
}

.menu-container {
    
    display: flex;
    flex-direction: row; 
    
}

.menu-container.is-open {
    transform: translate(0);
}

@media screen and (max-width: 767px) {
    .menu-container {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-bg-color);
         z-index: 998;
        transform: translate(100%);
         transition: transform 250ms ease-in-out;
         justify-content: center;
         padding-top: 124px;
       
    }
}

.menu-container .site-nav {
    display: flex;
    flex-direction: row;
    
}

@media screen and (max-width: 767px){

    .menu-container .site-nav {

        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}

@media screen and (max-width: 767px) {
    .menu-container .site-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;       
        margin-bottom: 16px;
    }
}

.menu-container .site-menu {
    display: flex;
    gap: 16px;
    
    align-items: center;
    order: 1;

}

.icon-basket {
    fill: var(--btn-bg-color-hover);
    order: 2;
}

@media screen and (min-width: 768px) {
    .icon-basket {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        fill: var(--primary-bg-color);
        
    }
}
.menu-container .site-menu .menu {
    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.04em;
   
    color: var(--btn-bg-color-hover);
}

@media screen and (min-width: 768px) {
    .menu-container .site-menu .menu {
        color: var(--primary-bg-color);
        
    }
}





 
