.hero {
    margin-bottom: 80px;
}

.hero-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 56px;
}

.hero-title-wrapper {
    position: absolute;
    top: 0;
    z-index: 10;

    width: 310px;
    height: 118px;

    background-image: url(../img/hero/mobile/banana_mob_bg@1x.png), url(../img/hero/mobile/strawberry_mob_bg@1x.png);
    background-repeat: no-repeat;
    background-size: 86px, 56px;
    background-position: top 50px left -7px, top -7px right 0px;
}

@media screen and (min-width: 375px) {
    .hero-title-wrapper {
        width: 335px;
    }
}

.main-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

@media screen and (min-width: 375px) {
    .main-title {
    font-size: 28px;
    }
}

.hero-img-wrapper {
    position: relative;

    min-width: 320px;
    margin-top: 40px;
    margin-bottom: 70px;

    background-image: url(../img/hero/mobile/elements.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 310px;
}
    
@media screen and (min-width: 360px) {
    .hero-img-wrapper {
    background-size: 320px;
    }
    
}
@media screen and (min-width: 375px) {
    .hero-img-wrapper {
    background-size: 335px;
    }
}

.hero-main-img {
    width: 335px;
    min-height: 420px;
    padding: 15px;
    object-fit: fill;
    border-radius: 500px;
    overflow: hidden;
}

@media screen and (min-width: 375px) {
    .hero-main-img {
    height: 509px;
    }
}

.hero-main-btn {
    position: absolute;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%, -50%) rotate(-14deg);

    width: 80px;
    height: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    background-color: #ffffff;
    color: #ae1332;
    border-radius: 50%;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero-btn-text {
    width: 55px;
    height: 55px;
}

.main-hero-text {
    width: 279px;
    margin-bottom: 44px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;

    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero-blocks {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
   

    width: 249px;
    height: 387px;
    padding-top: 28px;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 500px;
}

.hero-blocks.first-block {
    margin-bottom: 44px;

    background-color: rgba(164, 203, 102, 1);
}

.hero-title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.04em;
            
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.first-block-title {
    margin-bottom: 61px;
}

.second-block-title {
    margin-bottom: 19px;
}

.hero-img-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 100%;
}

.hero-block-text { 
    position: absolute;
    bottom: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.first-block-text {
    width: 155px;
}

.second-block-text {
    width: 163px;
}

.hero-blocks.second-block {
    margin-bottom: 80px;

    background-color: rgba(245, 206, 19, 1);
}

.hero-btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    width: 263px;
    margin-bottom: 44px;
}

.hero-btn {
    width: 125px;
    min-height: 38px;
    padding: 12px 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

    background-color: transparent;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 1000px;
}