.hero {
    padding-top: 56px;
    padding-bottom: 80px;
}

@media screen and (min-width: 375px) {
    .hero {
    padding-top: 64px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
    padding-bottom: 137px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
    padding-top: 64px;
    padding-bottom: 150px;
    }
}

.hero-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 320px) {
    .hero-container {
        background-image: url(../img/hero/mobile/banana_mob_bg@1x.png), 
        url(../img/hero/mobile/strawberry_mob_bg@1x.png);
        background-repeat: no-repeat;
        background-size: 75px, 56px;
        background-position: top 40px left 10px, top -6px right 8px;
}

         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .hero-container{
                 background-image: url(../img/hero/mobile/banana_mob_bg@2x.png),
                    url(../img/hero/mobile/strawberry_mob_bg@2x.png);
             }
         }
}

@media screen and (min-width: 375px) {
    .hero-container {
        background-size: 86px, 56px;
        background-position: top 50px left 10px, top -5px right 20px;
    }
    
}

@media screen and (min-width: 768px) {
    .hero-container {
        background-image: 
        url(../img/hero/tablet/image_banana_tablet@1x.png),
        url(../img/hero/tablet/image_strawberry_tablet@1x.png);
        background-size: 160px, 108px;
        background-position: top 95px left 20px, top -8px right 60px;
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-container {
                background-image: url(../img/hero/mobile/banana_mob_bg@2x.png),
                    url(../img/hero/mobile/strawberry_mob_bg@2x.png);
            }
        }

}

@media screen and (min-width: 1280px) {
    .hero-container {
        padding-bottom: 45px;
        background-image:
            url(../img/hero/desctop/image_banana_desc@1x.png),
            url(../img/hero/desctop/image_strawberry_desc@1x.png);
        background-size: 220px, 120px;
        background-position: top 115px left 215px, top -20px right 225px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-container {
            background-image: 
            url(../img/hero/desctop/image_banana_desc@2x.png),
            url(../img/hero/desctop/image_strawberry_desc@2x.png);
        }
    }

}

.main-title {
    position: absolute;
    top: 0;
    z-index: 10;

    width: 310px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

@media screen and (min-width: 375px) {
    .main-title {
    width: 335px;
    font-size: 28px;
    }
}

@media screen and (min-width: 768px) {
    .main-title {
    width: 704px;

    font-size: 50px;
    line-height: 1.08;
    }
}

@media screen and (min-width: 1280px) {
    .main-title {
        width: 898px;

        font-size: 64px;
        line-height: 1;
    }
}


.hero-img-wrapper {
    position: relative;

    display: flex;
    align-items: center;

    min-width: 320px;
    margin-top: 40px;
    margin-bottom: 70px;

    background-image: url(../img/hero/mobile/elements.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 310px;
}
    
@media screen and (min-width: 360px) {
    .hero-img-wrapper {
        background-size: 320px;
    }
    
         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .hero-img-wrapper {
                background-image: url(../img/hero/mobile/elements_mob@2x.png);
             }
         }
}
@media screen and (min-width: 375px) {
    .hero-img-wrapper {
    background-size: 330px;
    }
}

@media screen and (min-width: 768px) {
    .hero-img-wrapper {
        background-image: url(../img/hero/tablet/elements_tablet.png);
        background-size: 480px;
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-img-wrapper {
                background-image: url(../img/hero/tablet/elements_tablet@2x.png);
            }
        }
}

.hero-main-img {
    min-height: 420px;
    padding: 15px;
    object-fit: fill;
    border-radius: 500px;
    overflow: hidden;
}

.hero-link {
    position: absolute;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%, -50%) rotate(-14deg);

    display: flex;
    align-items: center;

    width: 80px;
    height: 80px;
    padding-top: 14px;
    padding-bottom:14px;
    padding-right: 8px;
    padding-left: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    background-color: #ffffff;
    color: var(--btn-text-color-norm);
    border-radius: 50%;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
    .hero-link {
        width: 114px;
        height: 114px;
        padding-top: 20px;
        padding-bottom: 20px;
      
        

        font-size: 28px;
    }

    .hero-link:hover,
    .hero-link:focus {
        color: var(--primary-green);
    }
}

.blocks-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

@media screen and (min-width: 768px) {
    .blocks-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 142px;
    }
    
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

@media screen and (min-width:1280px) {
    .block {
        position: absolute;
    }
}

@media screen and (min-width:1280px) {
    .block.text-block-wrap {
        top: 345px;
        left: 62px;
    }
}

@media screen and (min-width:1280px) {
    .block.list-block-wrap {
        top: 270px;
        right: 62px;
    }
}

@media screen and (min-width: 768px) {
    .list-block-wrap {
            display: flex;
            flex-direction: column-reverse;
        }
}

.main-hero-text {
    width: 279px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;

    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1280px) {
    .main-hero-text {
        width: 220px;
    }
}
.hero-blocks {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
   

    width: 249px;
    height: 387px;
    padding-top: 28px;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 500px;
}

.hero-blocks.first-block {
    background-color: rgba(164, 203, 102, 1);
}

.hero-title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.04em;
            
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.first-block-title {
    margin-bottom: 61px;
}

.second-block-title {
    margin-bottom: 19px;
}

.hero-img-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 100%;
}

.hero-block-text { 
    position: absolute;
    bottom: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.first-block-text {
    width: 155px;
}

.second-block-text {
    width: 163px;
}

.hero-blocks.second-block {
    background-color: rgba(245, 206, 19, 1);
}

.hero-btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    width: 263px;
}

@media screen and (min-width: 768px) {
    .hero-btn-list {
      justify-content: flex-end;
    }
    
}

.hero-btn-item {
    width: 125px;
}

@media screen and (min-width: 768px) {
    .hero-btn-item:nth-last-child(-n + 2) {
        width: 110px;
    }
}

.hero-text-title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 38px;
    padding: 12px 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

    background-color: transparent;
    color: var(--text-accent-color);
    border: 1px solid #FFFFFF;
    border-radius: 1000px;
}


@media screen and (min-width: 768px) {
.hero-btn-links:hover>.hero-text-title,
.hero-btn-links:focus>.hero-text-title {
    color: var(--primary-green);
    border-color: var(--primary-green);
}
}
