.hero {
    margin-bottom: 80px;

  
}

.hero-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

  
}

.hero-title-wrapper {
    position: absolute;
    top: 0;

    width: 335px;
    height: 118px;

    background-image: url(../img/hero/banana_mob_bg@1x.png), url(../img/hero/strawberry_mob_bg@1x.png);
    background-repeat: no-repeat;
    background-size: 86px, 56px;
    background-position: top 50px left -7px, top -7px right 0px;
}

.main-title {
  
    
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.hero-img-wrapper {
    margin-top: 40px;
    background-image: url(../img/hero/elements.png);
    background-repeat: no-repeat;
    background-size: 335px;
}

.hero-main-img {
    width: 335px;
    height: 509px;
    padding: 15px;
    object-fit: fill;
    border-radius: 500px;
    overflow: hidden;
}

.hero-main-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-14deg);

    width: 80px;
    height: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    background-color: #ffffff;
    color: #ae1332;
    border-radius: 50%;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
   
}

.hero-btn-text {
    width: 55px;
    height: 55px;


}