/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');

@import url('./how-it-works.css');
@import url('./fruit.css');
@import url('./contacts.css');
@import url('./footer.css');
@import url('./order-modal.css');
@import url('./thanks-mod.css');

body {
 main
  font-family: 'DM Sans', sans-serif;
  padding-top: 50px;
}
:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --primary-bg-color: #ae1332;

  --btn-bg-color-norm: #a4cb66;
  --btn-bg-color-hover: #ffffff;

  --btn-text-color-norm: #ae1332;
  --btn-text-color-norm: #a4cb66;

  --yellow-bg: #f5ce13;
  --pink-bg: #e03f5e;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  margin-bottom: 450px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

