.thankyou-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  overflow: scroll;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thankyou-backdrop.is-hidden {
  opacity: 0;

  pointer-events: none;
}

.thankyou-backdrop.is-hidden .thankyou-modal {
  transform: translate(-50%) scale(0.7);
}

.thankyou-modal {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translate(-50%) scale(1);

  min-height: 426px;
  max-width: 335px;
  overflow: scroll;

  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  text-align: center;

  background: #e03f5e;

  border-radius: 20px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .thankyou-modal {
    width: 335px;
    height: 426px;
  }
}

@media screen and (min-width: 768px) {
  .thankyou-modal {
    max-width: none;
    width: 600px;
    height: 545px;
    padding-top: 68px;
    padding-right: 105px;
    padding-bottom: 80px;
    padding-left: 105px;
  }
}

.strawberry-photo {
  margin: 0 auto;
  margin-bottom: 20px;
}
.modal-thankyou-title {
  margin-bottom: 14px;

  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .modal-thankyou-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

.modal-thankyou-subtitle {
  font-family: DM Sans, sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.thankyou-modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;

  background-color: transparent;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
